<html>
  <head>
    <title>{{title}}</title>
    <script charset="utf-8">
(function() {
var src = (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35279/livereload.js?snipver=1';
var script    = document.createElement('script');
script.type   = 'text/javascript';
script.src    = src;
document.getElementsByTagName('head')[0].appendChild(script);
}());
    </script>
    <link rel="stylesheet" href="/assets/app.css" type="text/css" />
    <script src="require.js" data-main="main" type="text/javascript"></script>
  </head>
  <body>
  </body>
</html>
